<html>
<head>
    <title>Node.js Chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>

    <div class="container" id="nickname-container">
        <h1>Choose a nickname!</h1>
        <span id="nick-error"></span>
        <form id="choose-nickname">
            <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" id="nickname" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </form>
    </div>

    <div class="container" id="chat-container">
        <div class="row">
            <div id="users" class="col-md-4">
                <h2>Users</h2>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-md-4" id="chat-col">
                <div class="row" id="room"><h2>Room</h2></div>
                <div class="row" id="chat">

                </div>
                <div class="row">
                    <form id="send-message">
                        <input class="form-control form-control-lg" id="new-message" type="text" placeholder="Type your message here....">
                    </form>
                </div>
            </div>
            <div class="col-md-4" id="pm-col">
                <div class="row" id="user-to-pm"><h2>Smitha</h2></div>
                <div class="row" id="private-chat">

                </div>
                <div class="row">
                    <form id="send-pm">
                            <input class="form-control form-control-lg" id="new-pm" type="text" placeholder="Type your message here....">
                    </form>
                </div>
            </div>
        </div>
    </div>


<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/chat-ui.js"></script>
</body>
</html>